<%- include('./fragments/header.ejs') %>
    <main>
        <h2>Strona główna</h2>
        <p>Zarządzaj swoimi sklepami i produktami! Szybko edytuj cenę produktu w sklepie, dodawaj nowe produkty, edytuj stare, WOW!</p>
    </main>
<%- include('./fragments/footer.ejs') %>
