<%- include('../fragments/header.ejs') %>
<main>
    <div style="text-align: center;">
        <p><%= msg %></p>
        <a href="<%= linkBack ? linkBack : '/' %>" class="button-add">Powrót</a>
    </div>
</main>
<%- include('../fragments/footer.ejs') %>